@font-face {
  font-family: My Font;
  src: url(./fonts/font.ttf);
}
html * {
  font-family: "My Font";
}

.red {
  border: 1px solid red;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}
body .header {
  height: 864px;
  background: url("./img/background-header.jpg") center center no-repeat;
}
body .header .about-signin {
  height: 79px;
  text-align: right;
}
body .header .about-signin .signin {
  background-color: transparent;
  cursor: pointer;
  border-radius: 20px;
  padding: 9px 15px;
  border: 1px solid #4CAF50;
  color: #4CAF50;
  margin-top: 39px;
  margin-right: 120px;
  font-size: 18px;
}
body .header .about-signin .signin:hover {
  text-decoration: underline;
}
body .header .about-signin .about {
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  color: black;
  margin-right: 33px;
  font-size: 18px;
}
body .header .about-signin .about:hover {
  text-decoration: underline;
}
body .header .logo {
  height: 295px;
  text-align: center;
}
body .header .logo img {
  position: relative;
  top: 148px;
}
body .header .icon {
  height: 110px;
}
body .header .icon .left {
  width: 32%;
  display: inline-block;
  text-align: center;
}
body .header .icon .left img,
body .header .icon .left span {
  margin-left: 226px;
  font-size: 36px;
  margin-top: 8px;
  display: block;
}
body .header .icon .center {
  width: 32%;
  display: inline-block;
  text-align: center;
}
body .header .icon .center span {
  font-size: 36px;
  margin-top: 8px;
  display: block;
}
body .header .icon .right {
  width: 32%;
  display: inline-block;
  text-align: center;
}
body .header .icon .right img,
body .header .icon .right span {
  margin-right: 226px;
  font-size: 36px;
  margin-top: 8px;
  display: block;
}
body .header .message {
  text-align: center;
  height: 50px;
}
body .header .message span {
  font-size: 25px;
  font-style: italic;
  margin-top: 48px;
}
body .header .button {
  text-align: center;
  margin-top: 62px;
}
body .header .button .startnow {
  border: transparent;
  color: black;
  background-color: #4CAF50;
  font-size: 30px;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
}
